<!-- FOOTER -->
<footer id="footer">
  <div class="footer-container">
    <div class="footer-grid">
      
      <!-- Contact Section -->
      <div class="footer-section">
        <h4><i class="fa fa-phone"></i> Liên Hệ Chúng Tôi</h4>
        <div class="contact-item">
          <i class="fa fa-building"></i>
          <div>
            <strong>CÔNG TY TNHH Nhóm 6</strong>
          </div>
        </div>
        <div class="contact-item">
          <i class="fa fa-phone"></i>
          <div>Hotline: 0394291503</div>
        </div>
        <div class="contact-item">
          <i class="fa fa-mobile"></i>
          <div>Hỗ trợ: 999999</div>
        </div>
        <div class="contact-item">
          <i class="fa fa-envelope"></i>
          <div>duan@gmail.com</div>
        </div>
      </div>

      <!-- About Section -->
      <div class="footer-section">
        <h4><i class="fa fa-info-circle"></i> Giới Thiệu</h4>
        <a href="#"><i class="fa fa-angle-right"></i> Tầm Nhìn - Sứ Mệnh</a>
        <a href="#"><i class="fa fa-angle-right"></i> Hệ Thống Phân Phối</a>
        <a href="#"><i class="fa fa-angle-right"></i> Bộ Máy Tổ Chức</a>
        <a href="#"><i class="fa fa-angle-right"></i> Lịch Sử Hình Thành</a>
        <a href="#"><i class="fa fa-angle-right"></i> Về Chúng Tôi</a>
      </div>

      <!-- Services Section -->
      <div class="footer-section">
        <h4><i class="fa fa-cogs"></i> Dịch Vụ</h4>
        <a href="#"><i class="fa fa-angle-right"></i> Trung Tâm Hỗ Trợ</a>
        <a href="#"><i class="fa fa-angle-right"></i> Chính Sách Bảo Hành</a>
        <a href="#"><i class="fa fa-angle-right"></i> Bảo Dưỡng Định Kỳ</a>
        <a href="#"><i class="fa fa-angle-right"></i> Sửa Chữa Chung</a>
        <a href="#"><i class="fa fa-angle-right"></i> Phụ Tùng & Phụ Kiện</a>
      </div>

      <!-- Social Section -->
      <div class="footer-section">
        <h4><i class="fa fa-share-alt"></i> Kết nối</h4>
        <p>Theo dõi chúng tôi trên các nền tảng mạng xã hội để cập nhật thông tin mới nhất!</p>
        <div class="social-links">
          <a href="#" class="fb" title="Facebook">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="#" class="tt" title="Twitter">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="#" class="gg" title="Google Plus">
            <i class="fa fa-google-plus"></i>
          </a>
          <a href="#" class="pt" title="Pinterest">
            <i class="fa fa-pinterest"></i>
          </a>
          <a href="#" class="yt" title="YouTube">
            <i class="fa fa-youtube"></i>
          </a>
          <a href="#" class="ig" title="Instagram">
            <i class="fa fa-instagram"></i>
          </a>
        </div>
      </div>

    </div>
  </div>

  <!-- Footer Bottom -->
  <div class="footer-bottom">
    <div class="footer-bottom-content">
      <div class="copyright">
        © 2025 Nhóm 6. Made with <i class="fa fa-heart"></i> in Vietnam
      </div>
      <div class="payment-methods">
        <span>Thanh toán:</span>
        <i class="fa fa-cc-visa"></i>
        <i class="fa fa-cc-mastercard"></i>
        <i class="fa fa-cc-paypal"></i>
        <i class="fa fa-money"></i>
      </div>
    </div>
  </div>
</footer>
