<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="text-center">Thông Tin Khách Hàng</h3>
    </div>
  </div>
  <div class="row mt-3">
    <label class="col-lg-6">Mã Khách Hàng: </label>
    <label class="col-lg-6">{{customer?.idCustomer}}</label>
  </div>
  <div class="row">
    <label class="col-lg-6">Họ Tên: </label>
    <label class="col-lg-6">{{customer?.surname}} {{customer?.name}}</label>
  </div> 
  <div class="row">
    <label class="col-lg-6">Địa Chỉ: </label>
    <label class="col-lg-6">{{customer?.address}}</label>
  </div>
  <div class="row">
    <label class="col-lg-6">Điện Thoại: </label>
    <label class="col-lg-6">{{customer?.phone}}</label>
  </div>
  <div class="row">
    <label class="col-lg-6">Email: </label>
    <label class="col-lg-6">{{customer?.email}}</label>
  </div>
  <div class="row">
    <label class="col-lg-6">Tài Khoản: </label>
    <label class="col-lg-6">{{customer?.account?.userName}}</label>
  </div>
  <div class="row">
    <label class="col-lg-6">Trạng Thái: </label>
    <label class="col-lg-6" *ngIf="customer?.status===1">Đang Mở</label>
  </div>
  <div class="row mt-3">
    <div class="col-lg-6"></div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3">
      <button class="btn btn-secondary" type="submit" (click)="close()">Đóng</button>
    </div>
  </div>
</div>
