<app-header></app-header>
<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-lg-12">
      <h3 class="text-center">DANH SÁCH KHÁCH HÀNG</h3>
    </div>
  </div>
  <form class="row mt-3" [formGroup]="search" (ngSubmit)="searchP()">
    <label class="col-lg-1 col-xl-1 col-form-label" for="sc" style="margin-left: 25%">Nhập Từ : </label>
    <div class="col-lg-3 col-xl-3">
      <input type="text" class="form-control border-primary" formControlName="nameSearch" id="sc" maxlength="25"
             placeholder="Nhập mã hoặc tên khách hàng hoặc địa chỉ"/>
    </div>
    <div class="col-lg-2 col-xl-2">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i>Tìm Kiếm</button>
    </div> 
  </form>
  <div class="row mt-3">
    <div class="col-lg-12">
      <table class="table table-striped table-hover table-bordered" >
        <thead>
        <tr>
          <th class="text-center">Mã Khách Hàng</th>
          <th class="text-center">Họ tên</th>
          <th class="text-center">Địa Chỉ</th>
          <th class="text-center">Điện Thoại</th>
          <th class="text-center">Email</th>
          <th class="text-center">Tài Khoản</th>
          <th class="text-center">Trạng Thái</th>
          <th class="text-center">Hành Động</th>
        </tr>
        </thead>
        <tbody *ngFor="let c of customerList">
        <tr>
          <td>{{c.idCustomer}}</td>
          <td>{{c.surname}} {{c.name}}</td>
          <td>{{c.address}}</td>
          <td>{{c.phone}}</td>
          <td>{{c.email}}</td>
          <td>{{c.account.userName}}</td>
          <td *ngIf="c.status ==1">Đang Mở</td>
          <td class="text-center">
            <button class="btn btn-outline-info border-0" (click)="view(c.idCustomer)"><i class="fa fa-info-circle"></i></button>
            <button class="btn btn-outline-danger border-0 ml-2" (click)="delete(c.idCustomer,c.name)"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination  justify-content-end">
      <li class="page-item">
        <a class="page-link" aria-label="Previous"  (click)="getPage(0)">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Đầu</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link"  aria-label="Previous" *ngIf="(indexPagination-1)>0" (click)="getPage((indexPagination-2))">
          <span aria-hidden="true">&lsaquo;</span>
          <span class="sr-only">Trước</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" *ngIf="(indexPagination-1)>0" (click)="getPage((indexPagination-2))">{{indexPagination - 1}}</a></li>
      <li class="page-item active" aria-current="page">
        <a class="page-link"(click)="getPage((indexPagination-1))">{{indexPagination}}</a>
      </li>
      <li class="page-item"><a class="page-link" *ngIf="(indexPagination +1)<= totalPagination" (click)="getPage((indexPagination))">{{indexPagination + 1}}</a></li>
      <li class="page-item">
        <a class="page-link"  aria-label="Next" *ngIf="(indexPagination +1)<= totalPagination" (click)="getPage((indexPagination))">
          <span aria-hidden="true">&rsaquo;</span>
          <span class="sr-only">Sau</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" aria-label="Next"  (click)="getPage((totalPagination-1))">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Cuối</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<app-footer></app-footer>
