.header .smallmenu {
  display: none;
}
tr td {
  text-align: center;
}

/* Logo */
.header .logo {
  width: 250px;
  height: 60px; 
  float: left;
  transition-duration: .1s;
}
.header .logo:hover {
  transform: scale(1.05)
}
.header .logo img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  animation: example 5s infinite ease-in-out;
}

/* Standard syntax */
@keyframes example {
  35%, 100% {
    transform: scale(1);
  }
  10% {
    transform: rotateX(360deg) scale(1.15);
  }
}
/* ======= End logo ======== */

/* Content */
.header .content{
  /* tru width cua logo */
  width: calc(100% - 250px);
  float: left;
}

/* Search */
.search-header {
  float: left;
}

form.input-search {
  margin-left: 20px;
  background: #ddd;
  border: 2px solid #bbb;
  border-radius: 10px;
  height: 35px;
  width: 400px;
  /* Ä‘iá»u chá»‰nh width cá»§a Ã´ tÃ¬m kiáº¿m trÃªn header á»Ÿ Ä‘Ã¢y */
}
.input-search input {
  float: left;
  padding-left: 15px;
  border: none;
  border-radius: 10px 0 0 10px;
  height: 100%;
  width: calc(100% - 100px - 20px);
  /* 100 la width button, 20 la padding button */
}
.input-search button {
  float: right;
  font-size: 14px;
  font-weight: bold;
  padding: 0 10px;
  color: #888;
  background: none;
  width: 100px;
  height: 100%;
  border: none;
  cursor: pointer;
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
}
.input-search button:hover {
  color: #000;
}

.tags {
  margin: 5px 0 0 20px;
  font-size: 13px;
}
.tags a {
  color: gray;
  padding: 0 5px;
}
.tags a:hover {
  color: black;
  text-decoration: underline;
}

/* W3 school autocomplete */
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  height: 100%;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
/* End auto complete */
/* ======= End search ========== */

/* Tools Member */
.tools-member {
  float: right;
  display: table;
  margin-left: 10px;
  font-size: 14px;
}

.tools-member a {
  position: relative;
  padding: 5px 0;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #565;
  cursor: pointer;
}
.tools-member a:hover > i {
  border: 1px solid #fff;
  background-color: rgb(161, 161, 161);
  color: #fff;
}

.tools-member i { /* icon */
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #000;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.tools-member .fa-user {
  padding: 10px 12.5px;
}
.tools-member .fa-shopping-cart {
  padding: 10px 11px;
}
/* Member */
.member {
  position: relative;
  float: left;
  display: table-cell;
}
.member:hover > .menuMember{
  z-index: 20;
  transform: translateX(-40%) scale(1);
}
.member .menuMember {
  position: absolute;
  left: 0;
  text-align: center;
  border-radius: 5px;
  background-color: #eee;
  min-width: 170px;
  transition-duration: .15s;
  transform: translateX(-40%) scale(0);
}
.member .menuMember a {
  display: block;
  padding: 10px 0;
}
.member .menuMember a:hover {
  background-color: #888;
  color: #eee;
}
.member .hide {
  display: none;
}
/* ======= End Member ======= */

/* Cart */
.cart {
  float: left;
  display: table-cell;
  /* border-left: 1px solid #bbb; */
  margin: 0 15px;
  padding-left: 5px;
}
.cart-number {
  position: absolute;
  left: 1.4em;
  bottom: -1em;
  font-weight: bold;
  font-size: 1em;
  color: red;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
}
.cart .cart-number {
  transition-duration: .4s;
}
/* ======= End Cart ======== */

/* Check Order - ÄÃ£ loáº¡i bá» */
.check-order {
  float: left;
  display: table-cell;
  border-left: 1px solid #bbb;
  margin-left: 5px;
  padding-left: 5px;
}
/* ======= End Check Order ======= */
/* ======= End Tools Member ======= */
/* ======= End Content ========= */
/* ======= End header ======== */


@media only screen and (max-width: 768px){
  .header .smallmenu {
    display: block;
    float: left;
    font-size: 25px;
    font-weight: 700;
    margin-left: 10px;
  }
  .header .logo{
    float: none;
    width: 40%;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
  }
  .header .content{
    float: none;
    width: 100%;
    margin-top: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .05s ease-out;
  }
  .search-header
  {
    float: none;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  form.input-search
  {
    float: none;
    width: 97%;
    margin-right: auto;
    margin-left: auto;
  }
  .input-search input
  {
    padding-left: 5px;
    width: calc(100% - 100px - 5px);
  }
  .tags
  {
    /* float: none; */
    width: 100%;
    margin: 5px 0 0 0;
    text-align: center;
  }
  .tools-member
  {
    /* float: none; */
    width: 100%;
    margin: 10px auto;
  }
  .member, .cart
  {
    float: left;
    width: 50%;
    height: 35px;
    margin: 0;
    text-align: center;
    padding: 0;
  }
  .member:hover > .menuMember
  {
    transform: translateX(0%) scale(1);
    width: 90%;
  }
}
.header{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 12;
  background-color: white;
  padding: 15px 0 5px 0;
  border-bottom: 3px solid #e1e1e1;
}
.logo img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  animation: example 5s infinite ease-in-out;
}

/* Standard syntax */
@keyframes example {
  35%, 100% {
    transform: scale(1);
  }
  10% {
    transform: rotateX(360deg) scale(1.15);
  }
}
.member{
  margin-left: 10rem;
}
.cart {
  margin-left: 2.9rem;
}
/* Phải thêm .chitietSanpham để không trùng với h1 của taikhoan */
.chitietSanpham h1 {
  display: block;
  margin: 0 0 0 10px;
  float: left;
  overflow: hidden;
  /*khi k đủ chứa text thì phần text bị dư sẽ giấu đi*/
  font-size: 24px;
  color: #333;
  line-height: 40px;
  /*tăng khoảng cách dòng*/
}

.rating {
  margin: 20px auto;
  width: 100%;
  text-align: center;
}

.rating .fa-star,
.rating .fa-star-o {
  color: #FD4;
  font-size: 24px;
}

.rowdetail {
  display: block;
  border-top: 1px solid #e5e5e5;
  padding: 15px 0;
  margin-top: 5px;
  clear: both;
}

.picture {
  float: left;
  overflow: hidden;
  width: 33%;
  position: relative;
  /*định vị trí phụ thuộc vào thành phần bao ngoài*/
  display: block;
}

.picture img {
  display: block;
  height: auto;
  margin: auto;
  /*cursor: pointer;
  thay đổi trỏ chuột đi đưa vào*/
  max-width: 100%;
}

.price_sale {
  float: left;
  position: relative;
  width: 33%;
  display: block;
}

.area_price {
  display: block;
  overflow: hidden;
  line-height: 20px;
  padding: 0 10px 10px;
}

.area_price strong {
  display: inline-block;
  /*hối nội tuyến*/
  overflow: hidden;
  font-size: 24px;
  color: #e10c00;
  vertical-align: middle;
  /*thành phần sẽ đc canh giữa theo thành phần bao ngoài*/
  margin-right: 10px;
}

.area_price span {
  /* giá tiền gạch ngang */
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  text-decoration: line-through;
  margin-left: 5px;
  color: #222;
}

.area_price label {
  display: inline-block;
  position: relative;
  font-size: 11px;
  color: #fff;
  font-weight: 600;
  /*hiển thị chữ đậm hay chữ thường*/
  border-radius: 3px;
  padding: 0 5px 0 8px;
  height: 18px;
}

.area_price label.tragop {
  background: #f28902;
  margin: 0 0 0 5px;
}

.area_price label.giamgia {
  background-image: -webkit-gradient(linear, left top, right top, from(#ff9c00), to(#ec1f1f));
  background-image: -webkit-linear-gradient(left, #ff9c00 0%, #ec1f1f 100%);
  background-image: -o-linear-gradient(left, #ff9c00 0%, #ec1f1f 100%);
  background-image: linear-gradient(90deg, #ff9c00 0%, #ec1f1f 100%);
  margin: 0 0 0 5px;
}

.area_price label.moiramat {
  background: #2546ff;
  margin: 0 0 0 5px;
}

.area_price label.giareonline {
  background: #3fb846;
  margin: 0 0 0 5px;
}

.ship {
  background-color: #ecf7ed;
  border-radius: 3px;
  border: 1px solid #c4ddc8;
  margin: 5px 10px 10px;
  padding: 0 10px;
  font-weight: bold;
  line-height: 30px;
}

.ship i {
  width: 19px;
  height: 21px;
  margin: 4px 10px 0 0;
  float: left;
  font-size: 20px;
}

.ship div {
  border-left: 1px solid #c4ddc8;
  display: block;
  line-height: 30px;
  padding-left: 10px;
  margin-left: 28px;
  color: #30a43b;
  max-width: 1200px;
}

.area_promo {
  border: 1px solid #ddd;
  display: block;
  overflow: hidden;
  border-radius: 4px;
  position: relative;
  margin: 5px 10px 12px;
  padding-bottom: 10px;
}

.area_promo strong {
  display: block;
  overflow: hidden;
  font-size: 15px;
  padding: 15px 15px 10px 15px;
  text-transform: uppercase;
  /*Viết thành chữ hoa*/
}

.area_promo .promo {
  display: block;
  overflow: hidden;
  font-size: 14px;
  padding: 0 15px 5px 40px;
}

.promo i {
  color: #090;
  font-size: 20px;
  float: left;
  margin: 2px 0 0 -20px;
}

.area_order {
  display: block;
  overflow: hidden;
  margin: 10px;
}

.area_order .buy_now {
  display: block;
  overflow: hidden;
  padding: 7px 0;
  border-radius: 4px;
  font-size: 16px;
  line-height: normal;
  color: #fff;
  text-align: center;
  background: -webkit-linear-gradient(top, #f59000, #fd6e1d);
  text-decoration: none;
  cursor: pointer;
}

.area_order .buy_now:hover {
  background: -webkit-linear-gradient(top, #fd6e1d, #f59000);
}

.area_order .buy_now h3 {
  margin: 10px 0;
}

.policy {
  display: block;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding-top: 10px;
  margin: 0 10px 10px 10px;
  padding-bottom: 5px;
}

.policy div {
  display: block;
  overflow: hidden;
  padding: 5px 0 5px 5px;
  font-size: 14px;
  line-height: 20px;
  margin: 0 10px;
  border-bottom: 1px solid #f0f0f0;
  position: relative;
}

.policy div i {
  display: block;
  width: 20px;
  height: 17px;
  float: left;
  margin: 3px;
  font-size: 18px;
}

.policy div p {
  margin: 0 0 0 28px;
  color: #288ad6;
}

.policy div.last {
  border-bottom: 0px;
}

.info_product {
  width: 33%;
  border: 1px solid #ddd;
  float: left;
  border-radius: 3px;
  display: block;
}

.info_product h2 {
  text-align: center;
  font-size: 20px;
  padding: 10px;
}

.info {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 0 5px;
}

.info li {
  list-style: none;
  display: table;
  border-top: 1px solid #eee;
  width: 100%;
  padding: 5px 0;
}

.info li p {
  /*clear: both;*/
  float: left;
  margin: 5px 0;
  width: 40%;
  color: #666;
  font-weight: bold;
}

.info li i {
  font-size: 25px;
}

.info li div {
  width: 60%;
  float: left;
  margin: 5px 0;
  color: #333;
  font-style: italic;
}


/* =================== Comment Area ================= */
.comment-area {
  float: none;
  width: 100%;
}

.comment-area h2 {
  margin: 10px 0 10px 10px;
}

/* Chat comment */
.comment {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat comment */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.comment::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.comment>i {
  float: left;
  font-size: 40px;
  margin-right: 10px;
}

.comment h4 {
  /*float: left;*/
  margin-right: 20px;
}

.comment h4 i.fa-star {
  color: #FD4;
}

/* Style time text */
.time {
  float: left;
  color: #999;
}

.time:before {
  content: "\f017";
  color: #ddd;
  font-family: FontAwesome;
  display: inline-block;
  margin-right: 4px;
}

.comment-content {
  max-height: 450px;
  overflow-y: auto;
}

/* ================== Binh luan ==================*/
.guiBinhLuan {
  box-sizing: border-box;
  border: 10px solid #252525;
}

#inpBinhLuan {
  box-sizing: border-box;
  border: none;
  display: block;
  font-size: 16px;
  width: 100%;
  padding: 15px 15px;
}

#btnBinhLuan {
  display: block;
  width: 100%;
  border: none;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  padding: 10px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

#btnBinhLuan:hover {
  background-color: #4CBF50;
}

/*https://www.cssscript.com/simple-5-star-rating-system-with-css-and-html-radios/*/
div.stars {
  width: 250px;
  display: inline-block;
}

input.star {
  display: none;
}

label.star {
  float: right;
  padding: 10px;
  font-size: 30px;
  color: #444;
  transition: all .2s;
}

input.star:checked~label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked~label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked~label.star:before {
  color: #F62;
}

input.star-2:checked~label.star:before {
  color: #F94;
}

input.star-3:checked~label.star:before {
  color: #FA4;
}

label.star:hover {
  transform: rotate(10deg) scale(1.3);
}

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

/* ========================== responsive ============================*/
@media only screen and (max-width: 768px) {

  .picture,
  .price_sale,
  .info_product {
    float: none;
    width: 100%;
    margin: 10px 0;
  }

  .chitietSanpham h1 {
    float: none;
    width: 100%;
    margin: 0;
    padding-left: 10px;
  }

  .commentsArea h2 {
    text-align: center;
  }
}

/** Dropdown Button *!*/
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {background-color: #3e8e41;}*/
ngb-rating {
  color: #FFC107;
}
