<app-header></app-header>
<div class="container">
  <div class="header row mt-3">
    <div class="logo">
      <a routerLink="/">
        <img src="../../../assets/logo4 copy.png" style="height: 60px;width: 250px">
      </a>
    </div>
    <div class="content">
      <div class="search-header">
        <form class="input-search" [formGroup]="searchItem" (ngSubmit)="search()">
          <div class="autocomplete">
            <input id="search-box" name="search" autocomplete="off" type="text"
                   placeholder="Nhập từ khóa tìm kiếm..." class="form-control" formControlName="itemSearch">
            <button type="submit">
              <i class="fa fa-search"></i>
              Tìm kiếm
            </button>
          </div>
        </form> <!-- End Form search -->
        <div class="tags">
          <strong>Từ khóa: </strong>
          <button class="border-0" *ngFor="let t of tag" (click)="searchTag(t)">{{t + " "}} &nbsp;</button>
        </div>
      </div> <!-- End Search header -->

      <div class="tools-member">
        <div class="member" *ngIf="username === ''">
          <a id="btnTaiKhoan" routerLink="/login" class="text-decoration-none">
            <i class="fa fa-user"></i>
            Tài khoản
          </a>
        </div>
        <div class="member dropdown" *ngIf="username !== ''">
          <a class="dropbtn text-decoration-none">
            <i class="fa fa-user"></i>
            {{username}}
          </a>
          <div class="dropdown-content">
            <a *ngIf="username!=='admin'" routerLink="/customerBill">Trang Cá Nhân</a>
            <a *ngIf="username!=='admin'" routerLink="/changePass">Đổi Mật Khẩu</a>
            <a (click)="logout()">Đăng Xuất</a>
          </div>
        </div> <!-- End Member -->

        <div class="cart">
          <a routerLink="/cart" class="text-decoration-none">
            <i class="fa fa-shopping-cart"></i>
            <span>Giỏ hàng</span>
            <span class="cart-number">{{totalItem}}</span>
          </a>
        </div> <!-- End Cart -->
      </div><!-- End Tools Member -->
    </div> <!-- End Content -->
  </div>
  <div class="row mt-3 mb-5">
    <div class="col"></div>
    <div class="col-4">
      <form [formGroup]="formChangePassword" (ngSubmit)="doSubmit()">
        <div  class="mb-4">
          <label for="username">Tên đăng nhập</label>
          <input type="text" class="input-custom-1 form-control " [value]="username" id="username" readonly>
        </div>
        <div class="mb-4">
          <label for="password">Mật khẩu<span class="text-danger">(*)</span></label>
          <input type="password" class="input-custom-1 form-control m-0"
                 formControlName="password" autocomplete="on" id="password"
                 [ngClass]="(form.password?.touched || isSubmit ) ? (form.password?.invalid ? 'is-invalid' : '') : ''">
          <div class="invalid-feedback px-4" *ngIf="form.password?.errors?.required">
            Mật khẩu không được để trống.
          </div>
        </div>
        <fieldset formGroupName="passwordGroup">
          <div class="mb-4">
            <label for="newPassword">Mật khẩu mới<span class="text-danger">(*)</span></label>
            <input type="password" class="input-custom-1 form-control m-0"
                   formControlName="newPassword" autocomplete="on" id="newPassword"
                   [ngClass]="(newPassword?.touched || isSubmit) ? (newPassword?.invalid || formChangePassword.invalid ? 'is-invalid' : '') : ''">
            <div class="invalid-feedback px-4" *ngIf="newPassword?.errors?.required">
              Mật khẩu mới không được để trống.
            </div>
            <div class="invalid-feedback px-4" *ngIf="formChangePassword.errors?.checkEqualsPassword && !newPassword?.errors?.required">
              Mật khẩu mới không được trùng với mật khẩu cũ
            </div>
            <div class="invalid-feedback px-4" *ngIf="newPassword?.errors?.pattern">
              Mật khẩu phải có ít nhất một ký tự số, một ký tự đặc biệt, một ký tự thường và có độ dài từ 6-12 ký tự
            </div>
          </div>
          <div class="mb-4">
            <label for="confirmPassword">Xác nhận mật khẩu<span class="text-danger">(*)</span></label>
            <input type="password" class="input-custom-1 form-control m-0"
                   formControlName="confirmPassword" autocomplete="on" id="confirmPassword"
                   [ngClass]="(confirmPassword?.touched || isSubmit) ? (confirmPassword?.invalid || form.passwordGroup ? 'is-invalid' : '') : ''">
            <div class="invalid-feedback px-4" *ngIf="confirmPassword?.errors?.required">Nhập lại mật khẩu không được để trống.</div>
            <div class="invalid-feedback px-4" *ngIf="form.passwordGroup?.errors?.checkPassword && !confirmPassword?.errors?.required">
              Không trùng khớp với mật khẩu mới.
            </div>
          </div>
        </fieldset>
        <div class="d-flex justify-content-center mt-3 mb-4">
          <button class="btn btn-login me-2 bg-secondary border-secondary" (click)="cancel()">Huỷ</button>
          <button type="submit" class="btn btn-primary ml-2 ">Cập nhật</button>
        </div>
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>
<app-footer></app-footer>
