<app-header></app-header>
<div class="container">
  <div class="header row mt-3" >
    <div class="logo">
      <a routerLink="/">
        <img src="../../../assets/logo4 copy.png" style="height: 60px;width: 250px">
      </a>
    </div> 
    <div class="content">
      <div class="search-header">
        <form class="input-search" [formGroup]="searchItem" (ngSubmit)="openSearch()" >
          <div class="autocomplete">
            <input id="search-box" name="search" autocomplete="off" type="text"
                   placeholder="Nhập từ khóa tìm kiếm..." class="form-control" formControlName="itemSearch">
            <button type="submit">
              <i class="fa fa-search"></i>
              Tìm kiếm
            </button>
          </div>
        </form> <!-- End Form search -->
        <div class="tags">
          <strong>Từ khóa: </strong><button class="border-0" *ngFor="let t of tag" (click)="searchTag(t)">{{t + " "}} &nbsp;</button>
        </div>
      </div> <!-- End Search header -->

      <div class="tools-member">
        <div class="member" *ngIf="name === ''">
          <a  id="btnTaiKhoan" routerLink="/login" class="text-decoration-none">
            <i class="fa fa-user"></i>
            Tài khoản
          </a>
        </div>
        <div class="member dropdown" *ngIf="name !== ''">
          <a class="dropbtn text-decoration-none">
            <i class="fa fa-user"></i>
            {{name}}
          </a>
          <div class="dropdown-content">
            <a *ngIf="name!=='admin'" routerLink="/customerBill">Trang Cá Nhân</a>
            <a *ngIf="name!=='admin'" routerLink="/changePass">Đổi Mật Khẩu</a>
            <a (click)="logout()">Đăng Xuất</a>
          </div>
        </div> <!-- End Member -->

        <div class="cart">
          <a routerLink="/cart" class="text-decoration-none">
            <i class="fa fa-shopping-cart"></i>
            <span>Giỏ hàng</span>
            <span class="cart-number">{{totalItem}}</span>
          </a>
        </div> <!-- End Cart -->
      </div><!-- End Tools Member -->
    </div> <!-- End Content -->
  </div>
  <div class="row mt-3">
    <table class="listSanPham">
      <thead >
      <tr>
        <th>Sản Phẩm</th>
        <th>Giá</th>
        <th>Số Lượng</th>
        <th>Thành Tiền</th>
        <th>Xóa</th>
      </tr>
      </thead>
      <tbody >
      <tr *ngFor="let p of product; let i = index">
        <td><img [src]="'assets/img/' +p.avt" style="width: 200px;height: 180px"/><br>
          {{p.productName}}</td>
        <td>{{numToString(p.price)}}<sup>đ</sup></td>
<!--        <td>{{p.quantity}}</td>-->
        <td>
          <button class="cart_quantity_up" (click)="quantity_up(p.idProduct)"> + </button>
          <input class="cart_quantity_input text-center" type="text" name="quantity" [value]="p.quantity" autocomplete="off"
                 size="2" disabled>
          <button class="cart_quantity_down" (click)="quantity_down(p.idProduct)"> - </button></td>
        <td>{{numToString(p.price * p.quantity)}}<sup>đ</sup></td>
        <td><i class="fa fa-trash" (click)="xoaSP(p.idProduct)"></i></td>
      </tr>
      <tr style="font-weight: bold;text-align: center">
        <td colspan="3">TỔNG TIỀN:</td>
        <td style="color: red">{{numToString(grandTotal)}}<sup>đ</sup></td>
        <td></td>
      </tr>
      <tr>
        <td colspan="5">
          <button class="btn btn-primary" (click)="thanhToan()"><i class="fa fa-usd"></i>Thanh Toán</button>
          <button class="btn btn-danger" (click)="xoaHet()"><i class="fa fa-trash-o"></i>Xóa Hết</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<app-footer></app-footer>
